		
		
			body { 
				background-color: #7EBEE9;
				font-size: 14px;
			}
							
			.jumbotron {
				background-color: lightblue;
				margin-bottom: 0;
			}

			.jumbotron h1 a {
				font-size: 2rem;
				text-decoration: none;
			}

			nav {
				margin-bottom: 1rem;
			}

			.main-footer {
				background-color: lightblue;
				color: black;
				padding: 2rem;
				margin-top: 2rem;
				text-align: center;
				font-size: 10px;
			}


	@media screen and (min-width: 1200px) {

			body {
				font-size: 18px;
			}
		
			.jumbotron h1 a {
				font-size: 5rem;
			}

			.main-footer {
				font-size: 14px;
			}
		}

	@media screen and (min-width: 1500px) {

					
	}

		
		
		
	