<form name="packageForm" novalidate>
	<legend>Weddings</legend>
	<br>
	<div class="form-group row">
		<label for="photo-wedding" class="col-md-2 col-form-label">Photos</label>
		<div class="form-group col-md-8">					
			<select id="photo-wedding" name="photo-wedding" class="form-control">
				<option>No Photos</option>
				<option>Ceremony Only</option>
				<option>Half Day</option>
				<option>Full Day</option>									
			</select>											
		</div>										
	</div>							
	<div class="form-group row">
		<label for="video-wedding" class="col-md-2 col-form-label">Video</label>
		<div class="form-group col-md-8">					
			<select id="video-wedding" name="video-wedding" class="form-control">
				<option>No Video</option>
				<option>Ceremony Only</option>
				<option>Half Day</option>
				<option>Full Day</option>
			</select>											
		</div>										
	</div>							
	<div class="form-group row">
		<label for="album-wedding" class="col-md-2 col-form-label">Photo Album</label>
		<div class="form-group col-md-8">					
			<select id="album-wedding" name="album-wedding" class="form-control">
				<option>No Photo Album</option>
				<option>Access to Online/CD Album </option>
				<option>Photo Book 50 Photos</option>
				<option>Photo Book 100 Photos</option>																
			</select>									
		</div>														
	</div>
	<div class="form-group row">
		<label for="name" class="col-md-2 col-form-label">Name:</label>
		<div class="form-group col-md-8">
			<input id="name" class="form-control" type="text" name="name" ng-model="name" placeholder="Your Name" required>
			<span ng-show="packageForm.name.$pristine">Your name is required.</span>													
		</div>
	</div>
	<div class="form-group row">
		<label for="address" class="col-md-2 col-form-label">Address of Wedding:</label>
		<div class="form-group col-md-8">
			<input id="address" class="form-control" type="text" name="address" ng-model="address" placeholder="Address of Wedding" required>
			<span ng-show="packageForm.address.$pristine">Address is required.</span>														
		</div>
	</div>
	<div class="col-md-12 row justify-content-center">
		<button class="btn" type="submit" style="background-color: #60A8DA;" ng-disabled="packageForm.$pristine || packageForm.$invalid">Submit</button>															
	</div>
</form>		