<div class="container-fluid">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<a href="/gallery-wedding">
						<img class="card-img-top" src="/IMG/pexels-wedding-1.jpeg" alt="wedding">
					</a>
					<div class="card-body">
						<h5 class="card-title">Wedding Gallery</h5>									
					</div>
				</div>						
			</div>
			<div class="col-lg-6">
				<div class="card">
					<a href="/gallery-party">
						<img class="card-img-top" src="/IMG/pexels-party-1.jpg" alt="party">
					</a>
					<div class="card-body">
						<h5 class="card-title">Party Gallery</h5>									
					</div>
				</div>						
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<a href="/gallery-event">
						<img class="card-img-top" src="/IMG/pexels-event-2.jpg" alt="event">
					</a>
					<div class="card-body">
						<h5 class="card-title">Event Gallery</h5>
					</div>
				</div>						
			</div>
			<div class="col-lg-6">
				<div class="card">
					<a href="/gallery-portrait">
						<img class="card-img-top" src="/IMG/pexels-portrait-2.jpeg" alt="portrait">
					</a>
					<div class="card-body">
						<h5 class="card-title">Portrait Gallery</h5>									
					</div>
				</div>						
			</div>
		</div>		
	</div>
</div>